.modalOverlay {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal {
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.closeButton {
    float: right;
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
}

.modalTitle {
    color: white;
    margin: 0;
}

.qrCodeContainer {
    width: 60%;
    margin-bottom: 20px;
}

.qrCodeImage {
    max-width: 100%;
    height: auto;
}

.userInfo {
    color: white;
    margin-bottom: 20px;
}

.printButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #17a2b8;
    color: white;
    cursor: pointer;
    width: 100%;
}

.printButton:hover {
    background-color: #138496;
}

@media (max-width: 768px) {
    .modal {
        width: 90%;
        padding: 10px;
    }

    .closeButton {
        font-size: 1em;
    }

    .printButton {
        padding: 8px 16px;
    }
}
