.navbar {
    /* Your existing styles */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
    z-index: 1000;
    padding: 10px 0;
}

.scanButtonWrapper {
    /* Wrapper for the scan button to position it properly */
    position: absolute;
    top: -30px; /* Half the height of the button to move it above the navbar */
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
}

.scanButton {
    /* Specific styles for the scan button */
    border-radius: 50%;
    width: 0px; /* Diameter of the scan button */
    height: 45px; /* Diameter of the scan button */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.scanIcon {
    /* Your existing styles */
    width: 110px; /* Size of the scan icon */
    height: auto; /* Maintain aspect ratio */
}

.navButton {
    /* Your existing styles */
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: white;
    text-align: center;
    font: inherit;
    padding: 10px;
    margin: 0;
    flex-grow: 1;
}

.navItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.navIconWrapper {
    /* Center the icon in the button */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px; /* Space between icon and label */
}

.navIcon {
    width: 24px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px;
    }

    .navIcon {
        width: 20px;
    }
}

@media (max-width: 480px) {
    .navItem {
        font-size: 12px;
    }
}
