.profilePage {
    flex-direction: column;
    display: flex;
}
.bookCard {
    display: flex;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.bookCoverContainer {
    width: 100px;
    padding: 10px;
}

.bookCover {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.bookInfo {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookTitle {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.bookAuthor {
    font-size: 0.9em;
    color: #555;
}

.bookStatusContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bookStatus {
    padding: 2px 8px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.bookDate {
    font-size: 0.8em;
}

.bookCreated {
    font-size: 0.8em;
    color: #888;
}

/* Status color classes */
.reserved {
    background-color: #f0ad4e;
}

.borrowed {
    background-color: #d9534f;
}

/* Responsive styles */
@media (max-width: 768px) {
    .bookCard {
        flex-direction: column;
    }

    .bookCoverContainer {
        width: auto;
    }

    .bookCover {
        width: 100%;
    }

    .bookStatusContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .bookStatus, .bookDate, .bookCreated {
        margin-top: 5px;
    }
}

.profileHeader {
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.reservationList {
    display: flex;
    flex-direction: column;
    /* Add other styles to match the design */
}

.reservationCard {
    display: flex;
    background: #fff;
    margin-bottom: 1em;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}



.dropdownToggle {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.dropdownIcon {
    width: 24px;
    height: 24px;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdownItem {
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    background: #FFF;
    color: #333;
    text-align: left;
    font-size: 14px;
}

.dropdownItem:hover {
    background: #f6f6f6;
}

.dropdownItem:last-child {
    border-bottom: none;
}

.profileImageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid white;
}

.profileActionIcons {
    /* Style for the container of icons (e.g., notifications, dropdown) */
    display: flex;
    align-items: center;
    position: relative;
}

.username {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 8px;
}

.handle {
    margin: 0;
    font-style: italic;
    margin-bottom: 15px;
}

.bio {
    margin-bottom: 16px;
}

.profileDates {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.joinDate .icon,
.birthDate .icon {
    margin-right: 5px;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 0px;
}

.buttonGroup {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.tab {
    background-color: #f0f0f0;
    border: 1px solid transparent;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.tab:hover {
    background-color: #e0e0e0;
}

.active,
.tab:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.bottomNav {
}

@media (max-width: 768px) {
    .profileHeader {
        padding: 10px;
    }

    .dropdownMenu {
        right: 5px;
    }

    .username,
    .handle {
        font-size: 1rem;
    }

    .bio {
        padding: 0 10px;
    }

    .profileDates {
        flex-direction: column;
        align-items: center;
    }

    .tabs {
        flex-direction: column;
    }

    .buttonGroup {
        margin-top: 50px;
        justify-content: center;
    }
}
