/* ConnexionAdminApp.css */
.connexion-adminapp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Use full viewport height */
    background-color: #f0f0f0; /* Adjust the background color as needed */
}

.login-card {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Maximum width of the card */
}

.login-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #333;
}

.login-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    width: 100%;
    padding: 0.5rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #555;
}

.login-footer {
    text-align: center;
    margin-top: 1rem;
}

.login-logo {
    display: block; /* Makes it a block element */
    margin: 0 auto; /* Centers the logo */
    height: 80px; /* Adjust as needed */
    margin-bottom: 1rem; /* Space between logo and title */
}

@media screen and (max-width: 768px) {
    .login-card {
        padding: 1rem;
    }
}
