.referent-registration-votre-profil-screen, 
.referent-registration-votre-identifiant-screen,
.referent-registration-votre-etablissement-screen,
.admin-registration-votre-espace-screen, 
.admin-registration-votre-identifiant-screen,
.admin-registration-votre-profil-screen {
    width: 600px; 
    margin: 100px auto;
    padding: 40px; 
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}



h3 {
    color: gray;
    font-size: 14px;
}

/*.back-arrow {
    /* Styling de la flèche retour
}*/

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.admin-image {
    max-width: 100%; 
    margin-bottom: 20px;
}

.admin-registration-votre-espace-screen {
    width: 90%;
    max-width: 600px; 
    margin: 100px auto; 
    padding: 40px; 
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.next-button {
    display: block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 50px auto 0; /* Ajout d'une marge en haut et en bas, et centrage horizontal */
}


.select-field {
    position: relative;
}

.select-field::before {
    content: 'Choisir un type d\'établissement';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px; /* Ajuste la position */
    color: gray;
    pointer-events: none; /* Empêche les interactions de la souris avec l'élément */
}


.country-flag {
    max-width: 20px; /* Largeur maximale du drapeau */
    max-height: 20px; /* Hauteur maximale du drapeau */
    margin-right: 5px; /* Espacement à droite du drapeau */
}

.space {
    margin-bottom: 30px; /* Espacement entre l'image et le premier champ*/
}

.space-above {
    margin-top: 50px; /* Espacement au-dessus de l'image */
}


.section-header {
    display: flex;
    align-items: center;
}

.section-header h3 {
    margin-right: 10px;  /*Espacement entre le titre h3 et le trait */
    color: black;
    font-weight: bold;
}

.info-text h4 {
    color: gray;
    font-size: 14px;
    text-align: left;
}

.centered-text h4 {
    text-align: center;
    color: gray;
    font-size: 14px;
}

.document-image {
    width: 300px; 
    margin: 20px auto;
}

.space-bottom {
    margin-bottom: 20px; /* Espacement entre le h4 info-text et le libellé "Nom d'utilisateur" */
}

.space-document {
    margin-bottom: 100px; /* Espacement entre le champ Nom d'utilisateur et l'image "document"*/
}












/* styles CSS pour cibler les écrans mobiles */
@media (max-width: 768px) {
    .admin-registration-votre-identifiant-screen,
    .admin-registration-votre-espace-screen {
        width: 90%; /* Utilisation de 90% de la largeur disponible */
        max-width: none; /* Suppression de la limitation de la largeur maximale */
        margin: 50px auto; /* Centralisation horizontale avec une marge de 50px en haut et en bas */
        padding: 20px; /* Réduction de l'espacement à l'intérieur du rectangle */
    }

    .admin-image {
        width: 100%; /* Ajustement de la largeur de l'image pour qu'elle remplisse son conteneur */
        margin-bottom: 20px;
    }

    .next-button {
        margin-top: 30px; /* Ajout d'une marge supplémentaire en haut du bouton */
    }

    .document-image {
        width: 80%; /* Ajustement de la taille de l'image pour qu'elle remplisse 80% de la largeur */
    }
}
