.library-container {
    font-family: 'Arial', sans-serif;
    margin: auto;
    background: #ffffff;
}

.library-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eceff1;
    padding: 10px;
}

.book-details {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.book-status-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.book-list {
    padding: 10px;
}

.book-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background: #f9f9f9;
    border-radius: 5px;
}

.borrowed-icon {
    width: 24px;
    margin-left: 10px; /* Add space between the text and the icon */
    height: 24px;
    margin-right: 10px;
}

.book-cover {
    width: 80px;
    height: 100px;
    border-radius: 5px 0 0 5px;
}

.book-info {
    padding: 5px;
    flex-grow: 1;
}

.book-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.book-author {
    font-size: 0.8rem;
    color: #666666;
}

.library-title-bar {
    text-align: center;
    margin: 20px 0;
}

.book-status-text {
    text-align: right; /* Align text to the right */
}

.library-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.tab-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.tab {
    border: none;
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #e2e2e2;
}

.tab.active {
    background-color: #007bff;
    color: white;
}

.book-description {
    font-size: 0.8rem;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.book-status {
    font-size: 0.8rem;
    font-weight: bold;
}

.book-status-info {
    display: flex;
    align-items: center;
}

.available {
    color: green;
}

.unavailable {
    color: red;
}

.library-nav {
    display: flex;
    justify-content: space-around;
    background: #eceff1;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.profileItem {
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, rgba(49, 178, 186, 1) 0%, rgba(21, 21, 76, 1) 100%);
    border-radius: 26px;
    margin: 10px;
    padding: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.cameraPopup {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 500px;
    position: relative;
}

.closeButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* SearchTabs.module.css */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F9F9F9;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.qrButton {
    background: none;
    border: none;
    cursor: pointer;
}

.qrScanner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qrCodeIcon {
    width: 30px;
    height: 30px;
}

.tabs {
    display: flex;
    gap: 10px;
}

.tab {
    background: none;
    border: none;
    color: #000;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
}

.active {
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
}

.searchBar {
    display: flex;
    background: #FFF;
    border-radius: 15px;
    margin: 0 15px;
}

.searchInput {
    border: none;
    outline: none;
    padding: 5px 10px;
    width: 100%;
}

.searchButton {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.searchIcon, .filterIcon {
    height: 1rem;
}

.filterButton {
    display: flex;
    align-items: center;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
    gap: 5px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.statusIcon {
    width: 50px;
    height: 50px;
}

.profileImage {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
}

.profileInfo {
    display: flex;
    flex-direction: column;
}

.profileName {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 4px;
}

.profileHandle {
    color: #ffffff99;
    font-weight: 600;
}

.atSymbol {
    color: #ffffff;
}

.joinDate {
    color: #ffffffb2;
    font-size: 12px;
}

@media (max-width: 600px) {
    .profileItem {
        flex-direction: column;
        align-items: flex-start;
    }

    .profileImage {
        margin-bottom: 8px;
    }

    .statusIcon {
        align-self: center;
        margin-top: 10px;
    }

    .icons {
        margin-top: 10px;
    }

    .searchBar {
        flex-direction: column;
    }

    .searchInput {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .qrScanner {
        padding: 10px;
    }

    .library-title {
        font-size: 1.2rem;
    }

    .tab {
        padding: 3px 10px;
    }

    .book-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .book-details {
        flex-direction: column;
    }

    .book-status-container {
        margin-top: 10px; /* Add some space between book details and status on smaller screens */
        justify-content: center; /* Center align on smaller screens */
    }

    .borrowed-icon {
        margin-left: 0; /* Remove margin on smaller screens */
    }

    .book-status-text {
        text-align: center; /* Center align text on smaller screens */
    }

    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .tabs, .searchBar, .filterButton {
        width: 100%;
        margin-top: 5px;
    }

    .searchInput {
        flex-grow: 1;
    }

    .library-container {
        max-width: 100%;
    }
}
