.library-container {
    font-family: 'Arial', sans-serif;
    margin: auto;
    background: #ffffff;
}

.library-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eceff1;
    padding: 10px;
    /* Ajoutez ici les styles pour votre barre de recherche et l'icône de profil */
}

.book-list {
    padding: 10px;
}

.book-item {
    display: flex;
    margin-bottom: 10px;
    background: #f9f9f9;
    border-radius: 5px;
}

.book-cover {
    width: 80px;
    height: 100px;
    border-radius: 5px 0 0 5px;
    /* Assurez-vous que le chemin de l'image est correct */
}

.book-info {
    padding: 5px;
    flex-grow: 1;
}

.book-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.book-author {
    font-size: 0.8rem;
    color: #666666;
}
/* Ajoutez ce CSS à List.css */

.library-title-bar {
    text-align: center;
    margin: 20px 0;
}

.library-title {
    font-size: 1.5rem; /* Ajustez la taille de la police si nécessaire */
    color: #333;
    margin-bottom: 15px;
}

.tab-bar {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espace entre les boutons */
}

.tab {
    border: none;
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #e2e2e2;
}

.tab.active {
    background-color: #007bff;
    color: white;
}

/* Styles existants... */

@media (max-width: 768px) {
    .library-title {
        font-size: 1.2rem; /* Taille plus petite sur les petits écrans */
    }

    .tab {
        padding: 3px 10px; /* Padding réduit pour les petits écrans */
    }
}

.book-description {
    font-size: 0.8rem;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.book-status {
    font-size: 0.8rem;
    font-weight: bold;
}

.available {
    color: green;
}

.unavailable {
    color: red;
}

.library-nav {
    display: flex;
    justify-content: space-around;
    background: #eceff1;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Ajoutez ici les styles pour votre navigation */
}

/* Responsive Design */
@media (max-width: 768px) {
    .library-container {
        max-width: 100%;
    }

    /* Adaptez les styles pour les éléments spécifiques pour les petits écrans */
}
